:root {
    --fontDosis: 'Dosis', sans-serif;
    --fontShoulder: 'Big Shoulders Stencil Display', cursive;
    --babyBlue: #9CB2FF;
    --blue: #0318D8;
    --purple: #231C3F;
    --white: white;
    --backgroundDark: #10082E;
    --rose: #AF00C7;
    --transparentGray: rgba(196, 196, 196, 0);
    --tranparentBayBlue: rgba(156, 178, 255, 0.4);
    --size16: 15px;
    --size30: 30px;
    --size20: 20px;
    --size40: 40px;
}

html {
    font-family: var(--fontDosis) !important;
    background-color: var(--backgroundDark);
    overflow-x: hidden;
}

.normal-text {
    font-family: var(--fontDosis) !important;
    font-size: var(--size16);
}



/* width */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.112); 
}
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1d1835;
    border-radius: 7px;
  }

body {
    overflow-x: hidden;
    background-color: var(--backgroundDark) !important;
}

header {
    width: 90%;
}

section,
header {
    max-width: 1290px;
    margin: auto;
}

.switch {
    width: 53px;
    height: 25px;
    display: flex;
    margin: .5rem 1rem;
}

.switch img {
    width: 16px;
    height: 16px;
    margin: 2px;
    padding: 1px 2px;
    cursor: pointer;
}

.nav-menu:hover {
    color: var(--rose) !important;
}

.nav-link {
    cursor: pointer;
    color: white !important;
    transition: none !important;
    margin-top: 1px !important;
}

.nav-link-active {
    color: var(--rose) !important;
}

.apple-div {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 0px 0px 30px;
}

header {
    height: 600px;
    background: rgba(255, 251, 251, 0.03) 61.29%;
    backdrop-filter: blur(40px);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

header h1 {
    font-family: var(--fontShoulder);
    text-align: center;
    font-weight: 700;
    font-size: 90px;
    color: var(--white);
}

header strong {
    font-family: var(--fontShoulder);
    font-weight: 700;
    font-size: 100px;
    color: var(--rose);
}

.wrapper-2 {
    display: grid;
    place-items: center;
}

.typing {
    height: 34px;
    font-family: var(--fontDosis);
    font-weight: lighter;
    font-size: var(--size20);
    color: var(--white);
    width: 315px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.sub-title {
    font-family: var(--fontShoulder);
    font-style: normal;
    font-weight: 400;
    font-size: var(--size40);
    color: var(--white);
}

.paragraph {
    font-family: var(--fontDosis);
    font-weight: 400;
    font-size: var(--size16);
    text-align: justify;
    /* max-width: 552px; */
    margin-left: 3rem;
    color: var(--babyBlue);
}

.buttom-resume {
    font-family: var(--fontShoulder);
    font-weight: 900;
    width: 112px;
    font-size: var(--size16);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--babyBlue) !important;
    border: 2px solid rgb(156 178 255 / 15%) !important;
    transition: all 1s ease;
}

.buttom-resume:hover {
    color: white !important;
    background-color: rgb(156 178 255 / 15%) !important;
}

.ps-responsive {
    padding-left: 3rem;
}

.btn-outline-secondary:hover {
    background-color: transparent !important;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.skills-text {
    font-family: var(--fontDosis);
    font-style: normal;
    font-weight: 300;
    font-size: var(--size16);
    text-align: center;
    color: var(--babyBlue);
}

.box-skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    border: 1px solid white;
    justify-content: center;
    box-sizing: border-box;
    padding: 4.5rem 1.5rem !important;
    background: linear-gradient(114.23deg, rgba(255, 255, 255, 0.04) 34.48%, rgba(255, 255, 255, 0.0099) 58.43%, rgba(255, 255, 255, 0) 87.33%, rgba(255, 255, 255, 0) 87.33%);
    border-image: linear-gradient(134deg, var(--babyBlue), transparent) 1;
    border-radius: 5px;
}

.pages-title {
    font-family: var(--fontDosis);
    font-style: normal;
    font-weight: 400;
    font-size: var(--size20);
    text-align: justify;
    color: var(--babyBlue);
}

.mx-90 {
    max-width: 90%;
}

.box-skills-to-page {
    max-width: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: center;
    box-sizing: border-box;
}

section {
    margin: 10rem auto;
}

.vcode-img {
    /* position: absolute; */
    right: -35%;
}

.page-img {
    max-width: 430px;
    width: 90%;
}

.testimony-text {
    font-family: var(--fontDosis);
    font-weight: 100;
    font-size: var(--size20);
    color: white;
}

.people-text {
    background: -webkit-linear-gradient(var(--babyBlue), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px !important;
}

.color-baby-blue {
    color: var(--babyBlue) !important;
}

footer {
    /* background: linear-gradient(180deg, rgba(196, 196, 196, 0) 6.24%, rgba(156, 178, 255, 0.28) 106.24%); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #170f33;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.5s ease-in-out;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.git-menu {
    cursor: pointer;
    display: flex;
    padding: 7px 0px;
}

.git-menu.active {
    border-left: 2px solid #8F93A0;
}

.git-menu.active svg {
    fill: white;
    color: white;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 19px;
    top: 19px;
    height: 53px;
    width: 53px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #170f33;
    transition: all 0.5s ease-in-out;
}

#active:checked~.menu-btn {
    color: #fff;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: var(--size30);
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #170f33;
    position: relative;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
}

.social-img {
    transition: transform 0.5s ease;
    transform: scale(1)
}

.social-img:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2)
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: var(--size40);
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.pt-responsive {
    padding-top: 1rem;
}

.svg-menu {
    width: 20px;
    position: relative;
    top: -7px;
}

.d-block-responsive {
    display: none;
}

.w-45 {
    width: 45%;
}

.filter{
    position: absolute;
    top: 0;
    max-width: 430px;
    width: 90%;
    left: 0;
    height: 100%;
    background: #9cb2ff24;
}

@media only screen and (max-width: 800px) {

    .filter{
        right: 0 !important;
        left: initial;
    }
    .w-50-responsive {
        width: 80% !important;
        margin: auto;
    }
    .ps-responsive {
        padding-left: 0rem !important;
    }
    .about-me {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 5rem auto !important;
    }

    .about-me-reverse {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 5rem auto !important;
    }
    .flex-column-reverse-responsive {
        flex-direction: column-reverse !important;
    }
    .d-none-responsive {
        display: none !important;
    }
    .pt-responsive {
        padding-top: 1.1rem !important;
        padding-left: 1rem !important;
    }
    .d-block-responsive {
        display: block !important;
    }
    .nav-responsive {
        margin: .5rem 0px !important;
    }
}

.pt-responsive {
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-link {
    padding: 0.7rem 1rem !important;
}

.nav-link {
    padding-bottom: 0rem !important;
}

.width-50 {
    width: 50%;
}

.logo-responsive {
    z-index: 1000;
}

.btn-check:focus+.btn-outline-secondary,
.btn-outline-secondary:focus {
    box-shadow: none !important;
}

.dot {
    width: 10px;
    height: 10px;
    background: #42526D;
    border-radius: 50%;
    border: 1px solid #121D34
}

.vscode {
    position: absolute;
    width: 120%;
    left: 50px;
}

.title-git {
    background: #303D56;
    border-radius: 5px;
    border: 1px solid #121D34;
    font-size: 13px;
    color: #607497;
    width: 60%;
}

.vs-body {
    background: #0C162D;
    width: 100%;
    height: 450px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-git {
    background-color: #19253B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* .vscode:hover {
    transform: translateX(-25px) translateX(0px);
}

.vscode {
    transition: transform 500ms ease-in-out 25ms;
} */

.vscode:hover {
    transform: scale(1.05);
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    background-color: white !important;
}

.carousel-indicators .active {
    background-color: var(--babyBlue) !important;
}

.carousel-indicators {
    position: relative !important;
    margin: auto !important;
    gap: 0.6rem;
}

.min-h-carousel {
    min-height: 300px;
}

.vscode {
    transition: transform 500ms ease-in-out 25ms;
    /* filter: drop-shadow(1px 1px 13px rgba(156, 178, 255, 0.25)); */
}

.responsive-skills {
    column-gap: 3rem;
    row-gap: 10px;
}

.tab-git {
    font-size: 12px;
    padding: 10px 10px !important;
    position: relative;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #19253B !important;
    border-color: #19253B !important;
    border-radius: 0px !important;
    border: 1px solid #040D20 !important;
    border-bottom: none !important;
    font-size: 12px;
    padding-bottom: 11px !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.m-t-90 {
    margin-top: 90px;
}

.git-contain {
    height: 100% !important;
    background: #19253b !important;
    border: 1px solid #020815 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

:focus-visible {
    outline: none !important;
}

.svg-git {
    width: 6px;
    height: 10px;
    fill: white;
    margin-left: 7px;
    margin-top: -2px;
}

code {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word;
    display: block;
    text-align: initial;
}

.number {
    color: #5f6a7f;
}

.number-box {
    width: 17px !important;
    text-align: end;
    display: inline-block;
    margin-right: 1rem;
}

.flex-git {
    width: calc(100% - 37px);
}

.row-box {
    margin-left: 1.5rem;
    gap: 1.5rem;
}

.width-90 {
    width: 93%;
}

.h-400px {
    height: 400px;
}

.vs-code-h {
    height: 407px;
}

.h-carousel {
    height: 325px;
}

@media only screen and (max-width: 801px) {
    .resp-align{
        display: flex;
        justify-content: end;
    }
    .mt-90-sm {
        margin-top: 90px;
    }
    
    .width-90 {
        width: 100%;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-top: 5rem;
    }
    .section3 .w-50 {
        width: 100% !important;
    }
    .vscode {
        position: relative;
        left: 0;
        width: 95% !important;
        margin: auto;
    }
    .vscode:hover {
        transform: none !important;
    }
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: initial !important;
    }
}

@media only screen and (max-width: 600px) {
    .responsive-skills {
        gap: 0rem !important;
        justify-content: space-between !important;
        width: 100% !important;
    }
    .sub-title {
        text-align: center;
    }
    .paragraph {
        margin-left: 1rem !important;
    }
    header h1 {
        font-size: 60px;
        margin: auto 1rem;
    }
    header strong {
        font-size: 60px;
    }
    header {
        height: 500px;
    }
    .img-me {
        width: 100%;
    }
    .row-box {
        margin-left: 0.5rem;
        gap: 0.5rem;
    }
    .h-carousel {
        height: 345px;
    }
    .box-skills {
        padding: 2rem 1rem !important;
        grid-template-columns: repeat(auto-fill, 75px);
    }
    code {
        font-size: 11px !important;
    }
}

@media only screen and (max-width: 500px) {
    .h-carousel {
        height: 373px;
    }
}

@media only screen and (max-width: 400px) {
    .m-t-90 {
        margin-top: 50px;
    }
    .filter{
        width: 100%;
    }
    
    .page-img {
        width: 100%;
    }
    .paragraph {
        margin-left: 0rem !important;
    }
    .lines {
        display: none;
    }
    .box-skills {
        padding: 1.5rem 1rem !important;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 55px);
    }
    #section4 {
        padding: 4rem 0px;
    }
    .pt-responsive {
        padding-top: 2.1rem !important;
        padding-left: 1rem !important;
    }
    .buttom-resume {
        font-size: 0.7rem !important;
        width: 90px;
        border-width: 1px !important;
    }
    header {
        height: 475px !important;
    }
    .vs-body {
        height: 392px !important;
    }
    .vs-code-h {
        height: 350px;
    }
    .h-400px {
        height: 350px;
    }
    header h1 {
        font-size: 35px;
    }
    header strong {
        font-size: 35px;
    }
    .logo-responsive {
        width: 53px;
    }
    .svg-menu {
        top: 5px
    }
    .apple-img {
        width: 18px;
    }
    .apple-div {
        padding: 0px 0px 20px;
    }
     :root {
        --size16: 14px;
        --size30: 25px;
        --size20: 16px;
        --size40: 30px
    }
    .typing {
        width: 252px;
        height: 25px;
        border-right: 1px solid;
    }
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: none !important;
    isolation: isolate;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 1px solid #040D20 !important;
    border-bottom: none !important;
    isolation: isolate;
}